.typingBox{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    width: 90vw;
    padding: 2%;
    margin: auto;
}

.typingBox input{
    margin-top: 20px;
    width: 90%;
    height: 50px;
    border: none;
    font-size: large;
    border-radius: 10px;
    text-align: center;

}
.typingBox input:focus{
    text-align: center;
outline:none;
border-color:rgb(172, 133, 139)
}